<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align = "center">
        <h1> Registration successed</h1>
        
        <span>FullName:</span><span>${user.name}</span>
        <span>email:</span><span>${user.email}</span>
        <span>Password</span><span>${user.password}</span>
        <span>birthday</span><span>${user.birthday}</span>
        <span>Profession</span><span>${user.profession}</span>
        <span>Married</span><span>${user.married}</span>
       <span>Gender</span><span>${user.gender}</span>
       <span>Note</span><span>${user.note}</span> 
    </div>
    
</body>
</html>